li {
  font-weight: normal;
  list-style-type: none;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.bold {
  font-weight: bold;
}
table {
  border-spacing: 0;
}
th {
  font-size: 25px;
  border: 1px solid black;
}
tr {
  background: lightgreen;
}
td {
  border: 1px solid black;
}
